This is an instance of embedded ruby!

<form action='/form' method='post'>
First name: <input type="text" name="firstname"><br>
Last name: <input type="text" name="lastname">
<input type="submit">
</form>