Just a little TXT title.

<form method='post'>
  <dl>
    <dt>Name</dt>
    <dd><input name='user' type='text'></dd>
    <dt>Email</dt>
    <dd><input name='password' type='password'></dd>
  </dl>
  <p><input type='submit' value='send'></p>
</form>
